<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="favicon.png" rel="icon">
    <meta name="author" content="Nghia Minh Luong">
    <meta name="keywords" content="Default Description">
    <meta name="description" content="Default keyword">
    <title>Sky - Homepage </title>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- CSS Library-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-stars.css" rel="stylesheet" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/settings.css" rel="stylesheet" />
    <link href="~/Content/layers.css" rel="stylesheet" />
    <!-- Custom-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
    <div class="header--sidebar"></div>
    <header class="header">
        <div class="header__top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                        <p>460 West 34th Street, 15th floor, New York  -  Hotline: 804-377-3580 - 804-399-3580</p>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="header__actions">
                            @Html.Action("TenKhiLogin", "NguoiDung")
                            <div class="btn-group ps-dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><img src="images/flag/usa.svg" alt=""> USD</a></li>
                                    <li><a href="#"><img src="images/flag/singapore.svg" alt=""> SGD</a></li>
                                    <li><a href="#"><img src="images/flag/japan.svg" alt=""> JPN</a></li>
                                </ul>
                            </div>
                            <div class="btn-group ps-dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Việt Nam</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navigation">
            <div class="container-fluid">
                <div class="navigation__column left">
                    <div class="header__logo">
                        <a class="ps-logo" href="index.html"><img src="images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="navigation__column center">
                    <ul class="main-menu menu">
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="@Url.Action("Index","TrangChu")">Home</a>
                            @*<ul class="sub-menu">
                                    <li class="menu-item"><a href="index.html">Homepage #1</a></li>
                                    <li class="menu-item"><a href="#">Homepage #2</a></li>
                                    <li class="menu-item"><a href="#">Homepage #3</a></li>
                                </ul>*@
                        </li>
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="@Url.Action("AllGiay","SanPham")">Giày</a>
                            <ul class="sub-menu">
                                @Html.Action("HieuGiay", "TrangChu")
                            </ul>

                            @*<div class="mega-menu">
                                    <div class="mega-wrap">
                                        <div class="mega-column">
                                            <ul class="mega-item mega-features">
                                                <li><a href="product-listing.html">MỚI</a></li>
                                                <li><a href="product-listing.html">BÁN CHẠY NHẤT</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-column">
                                            <h4 class="mega-heading">giày</h4>
                                            <ul class="mega-item">
                                                <li><a href="product-listing.html">Tất Cả</a></li>
                                                <li><a href="product-listing.html">Chạy Bộ</a></li>
                                                <li><a href="product-listing.html">Tập Luyện & Gym</a></li>
                                                <li><a href="product-listing.html">Bóng Rổ</a></li>
                                                <li><a href="product-listing.html">Đá Bóng</a></li>
                                                <li><a href="product-listing.html">Bóng Chày</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-column">
                                            <h4 class="mega-heading">áo</h4>
                                            <ul class="mega-item">
                                                <li><a href="product-listing.html">Compression & Nike Pro</a></li>
                                                <li><a href="product-listing.html">Áo & Áo Thun</a></li>
                                                <li><a href="product-listing.html">Polos</a></li>
                                                <li><a href="product-listing.html">Hoodies & Áo Nỉ</a></li>
                                                <li><a href="product-listing.html">Áo Khoác & Vests</a></li>
                                                <li><a href="product-listing.html">Pants & Tights</a></li>
                                                <li><a href="product-listing.html">Shorts</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-column">
                                            <h4 class="mega-heading">Phụ Kiện</h4>
                                            <ul class="mega-item">
                                                <li><a href="product-listing.html">Compression & Nike Pro</a></li>
                                                <li><a href="product-listing.html">Tops & T-Shirts</a></li>
                                                <li><a href="product-listing.html">Polos</a></li>
                                                <li><a href="product-listing.html">Hoodies & Sweatshirts</a></li>
                                                <li><a href="product-listing.html">Jackets & Vests</a></li>
                                                <li><a href="product-listing.html">Pants & Tights</a></li>
                                                <li><a href="product-listing.html">Shorts</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-column">
                                            <h4 class="mega-heading">thương hiệu</h4>
                                            <ul class="mega-item">
                                                <li><a href="product-listing.html">NIKE</a></li>
                                                <li><a href="product-listing.html">Adidas</a></li>
                                                <li><a href="product-listing.html">Dior</a></li>
                                                <li><a href="product-listing.html">B&G</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                        </li>
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="#">Áo</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="blog-list.html">Blog List</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="#">Phụ Kiện</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="blog-list.html">Blog List</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="#">Tin Tức</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="blog-list.html">Blog List</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="@Url.Action("phanhoi","TrangChu")">Liên Hệ</a>
                        </li>

                    </ul>
                </div>
                <div class="navigation__column right">
                    <form class="ps-search--header" action="do_action" method="post">
                        <input class="form-control" type="text" placeholder="Tìm…">
                        <button><i class="ps-icon-search"></i></button>
                    </form>
                    <div class="ps-cart">
                        @*<a class="ps-cart__toggle" href="@Url.Action("Index","GioHang")"><span><i>20</i></span><i class="ps-icon-shopping-cart"></i></a>*@
                        
                            @Html.Action("ParGioHang", "GioHang")
                        
                    </div>

                    <div class="menu-toggle"><span></span></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="header-services">
        <div class="ps-services owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
            <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Giao hàng miễn phí</strong>: Nhận giao hàng tiêu chuẩn miễn phí cho mỗi đơn hàng</p>
            <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Giao hàng miễn phí</strong>: Nhận giao hàng tiêu chuẩn miễn phí cho mỗi đơn hàng</p>
            <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Giao hàng miễn phí</strong>: Nhận giao hàng tiêu chuẩn miễn phí cho mỗi đơn hàng</p>
        </div>
    </div>
    <main class="ps-main">
        <div class="ps-banner">
            <div class="rev_slider fullscreenbanner" id="home-banner">
                <ul>
                    <li class="ps-banner" data-index="rs-2972" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0">
                        <img class="rev-slidebg" src="images/slider/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                        <div class="tp-caption ps-banner__header" id="layer-1" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p>Tháng 3 2002 <br> Nike SB Dunk Low Pro</p>
                        </div>
                        <div class="tp-caption ps-banner__title" id="layer21" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p class="text-uppercase">SUBA</p>
                        </div>
                        <div class="tp-caption ps-banner__description" id="layer211" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p>Supa muốn thứ gì đó sẽ đại diện cho nguồn gốc của bờ biển phía Đông <br> và đặc trưng hơn, quê nhà của anh ấy là <br /> thành phố New York nằm trong quy mô lớn.</p>
                        </div><a class="tp-caption ps-btn" id="layer31" href="#" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">Mua Ngay<i class="ps-icon-next"></i></a>
                    </li>
                    <li class="ps-banner ps-banner--white" data-index="rs-100" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0">
                        <img class="rev-slidebg" src="images/slider/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                        <div class="tp-caption ps-banner__header" id="layer20" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p>BEST ITEM <br> THIS SUMMER</p>
                        </div>
                        <div class="tp-caption ps-banner__title" id="layer339" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p class="text-uppercase">Recovery</p>
                        </div>
                        <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p>Supa muốn thứ gì đó sẽ đại diện cho nguồn gốc của bờ biển phía Đông <br> và đặc trưng hơn, quê nhà của anh ấy là <br /> thành phố New York nằm trong quy mô lớn.</p>
                        </div><a class="tp-caption ps-btn" id="layer31" href="#" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">Mua Ngay<i class="ps-icon-next"></i></a>
                    </li>
                    <li data-index="rs-29723" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off">
                        <img class="rev-slidebg" src="images/slider/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                        <div class="tp-caption ps-banner__header" id="layer4" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-60','-70','-70']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p>March 2017 <br> BASKETBALL FASHION</p>
                        </div>
                        <div class="tp-caption ps-banner__title" id="layer24" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','0','0','0']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p>CLOTHING</p>
                        </div>
                        <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','0','0','0']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <p>Supa muốn thứ gì đó sẽ đại diện cho nguồn gốc của bờ biển phía Đông <br> và đặc trưng hơn, quê nhà của anh ấy là <br /> thành phố New York nằm trong quy mô lớn.</p>
                        </div><a class="tp-caption ps-btn" id="layer31" href="#" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">Mua Ngay<i class="ps-icon-next"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ps-section masonry-root pt-80 pb-40">
            <div class="ps-container">
                <div class="ps-section__header mb-50">
                    <h3 class="ps-section__title" data-mask="KHuyến Mãi">- Sự Kiện</h3>
                </div>
                <div class="ps-section__content pb-50">
                    <div class="masonry-wrapper" data-col-md="3" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
                        <div class="ps-masonry">
                            <div class="grid-sizer"></div>
                            <div class="grid-item">
                                <div class="grid-item__content-wrapper"><a class="ps-offer" href="product-detail.html"><img src="images/offer/home-2-1.jpg" alt=""></a></div>
                            </div>
                            <div class="grid-item">
                                <div class="grid-item__content-wrapper"><a class="ps-offer" href="product-detail.html"><img src="images/offer/home-2-2.jpg" alt=""></a></div>
                            </div>
                            <div class="grid-item high">
                                <div class="grid-item__content-wrapper"><a class="ps-offer" href="product-detail.html"><img src="images/offer/home-2-5.jpg" alt=""></a></div>
                            </div>
                            <div class="grid-item">
                                <div class="grid-item__content-wrapper"><a class="ps-offer" href="product-detail.html"><img src="images/offer/home-2-3.jpg" alt=""></a></div>
                            </div>
                            <div class="grid-item">
                                <div class="grid-item__content-wrapper"><a class="ps-offer" href="product-detail.html"><img src="images/offer/home-2-4.jpg" alt=""></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section--features-product ps-section masonry-root pt-40 pb-80">
            <div class="ps-container">
                <div class="ps-section__header mb-50">
                    <h3 class="ps-section__title" data-mask="features">- Sản phẩm mới</h3>
                    <ul class="ps-masonry__filter">
                        <li class="current"><a href="#" data-filter="*">Tất cả <sup>8</sup></a></li>
                        <li><a href="#" data-filter=".nike">Nike <sup>1</sup></a></li>
                        <li><a href="#" data-filter=".adidas">Adidas <sup>1</sup></a></li>
                        <li><a href="#" data-filter=".men">Nam <sup>1</sup></a></li>
                        <li><a href="#" data-filter=".women">Nữ<sup>1</sup></a></li>
                    </ul>
                </div>
                @RenderBody()
            </div>
        </div>
        <div class="ps-home-testimonial bg--parallax pb-80" data-background="images/background/parallax.jpg">
            <div class="container">
                <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
                    <div class="ps-testimonial">
                        <div class="ps-testimonial__thumbnail"><img src="images/testimonial/1.jpg" alt=""><i class="fa fa-quote-left"></i></div>
                        <header>
                            <select class="ps-rating">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="5">5</option>
                            </select>
                            <p>Logan May - CEO & Founder Invision</p>
                        </header>
                        <footer>
                            <p>“Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant. “</p>
                        </footer>
                    </div>
                    <div class="ps-testimonial">
                        <div class="ps-testimonial__thumbnail"><img src="images/testimonial/2.jpg" alt=""><i class="fa fa-quote-left"></i></div>
                        <header>
                            <select class="ps-rating">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="5">5</option>
                            </select>
                            <p>Logan May - CEO & Founder Invision</p>
                        </header>
                        <footer>
                            <p>“Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant. “</p>
                        </footer>
                    </div>
                    <div class="ps-testimonial">
                        <div class="ps-testimonial__thumbnail"><img src="images/testimonial/3.jpg" alt=""><i class="fa fa-quote-left"></i></div>
                        <header>
                            <select class="ps-rating">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="5">5</option>
                            </select>
                            <p>Logan May - CEO & Founder Invision</p>
                        </header>
                        <footer>
                            <p>“Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant. “</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section ps-owl-root ps-hotdeal--2 pt-80 pb-80">
            <div class="ps-container">
                <div class="ps-section__header mb-50">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
                            <h3 class="ps-section__title" data-mask="SALE OFF">- HOT DEAL TODAY</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                            <div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="ps-owl--collection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="50000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="2" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="2" data-owl-item-lg="2" data-owl-duration="1000" data-owl-mousedrag="on">
                            <div class="ps-product--hotdeal">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-detail.html"></a><img src="images/offer/clothes-1.jpg" alt=""></div>
                                <div class="ps-product__content">
                                    <a class="ps-product__title" href="product-detail.html">Slim Fit Men Sport Hoodie</a>
                                    <p class="ps-product__price">Only: <span>£155</span></p>
                                    <div class="ps-product__status">
                                        <div class="sold">Already sold: <span>10</span></div>
                                        <div class="avaiable">avaiable: <span>30</span></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                    <ul class="ps-countdown" data-time="December 1, 2017 00:00:00">
                                        <li><span class="hours"></span><p>Hours</p></li>
                                        <li class="divider">:</li>
                                        <li><span class="minutes"></span><p>minutes</p></li>
                                        <li class="divider">:</li>
                                        <li><span class="seconds"></span><p>Seconds</p></li>
                                    </ul><a class="ps-btn" href="cart.html">Order Today<i class="ps-icon-next"></i></a>
                                </div>
                            </div>
                            <div class="ps-product--hotdeal">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-detail.html"></a><img src="images/offer/clothes-2.jpg" alt=""></div>
                                <div class="ps-product__content">
                                    <a class="ps-product__title" href="product-detail.html">Mens Long-sleeved Polos</a>
                                    <p class="ps-product__price">Only: <span>£79</span></p>
                                    <div class="ps-product__status">
                                        <div class="sold">Already sold: <span>10</span></div>
                                        <div class="avaiable">avaiable: <span>30</span></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                    <ul class="ps-countdown" data-time="May 1, 2018 00:00:00">
                                        <li><span class="hours"></span><p>Hours</p></li>
                                        <li class="divider">:</li>
                                        <li><span class="minutes"></span><p>minutes</p></li>
                                        <li class="divider">:</li>
                                        <li><span class="seconds"></span><p>Seconds</p></li>
                                    </ul><a class="ps-btn" href="cart.html">Order Today<i class="ps-icon-next"></i></a>
                                </div>
                            </div>
                            <div class="ps-product--hotdeal">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-detail.html"></a><img src="images/offer/clothes-1.jpg" alt=""></div>
                                <div class="ps-product__content">
                                    <a class="ps-product__title" href="product-detail.html">Slim Fit Men Sport Hoodie</a>
                                    <p class="ps-product__price">Only: <span>£155</span></p>
                                    <div class="ps-product__status">
                                        <div class="sold">Already sold: <span>10</span></div>
                                        <div class="avaiable">avaiable: <span>30</span></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                    <ul class="ps-countdown" data-time="December 1, 2017 00:00:00">
                                        <li><span class="hours"></span><p>Hours</p></li>
                                        <li class="divider">:</li>
                                        <li><span class="minutes"></span><p>minutes</p></li>
                                        <li class="divider">:</li>
                                        <li><span class="seconds"></span><p>Seconds</p></li>
                                    </ul><a class="ps-btn" href="cart.html">Order Today<i class="ps-icon-next"></i></a>
                                </div>
                            </div>
                            <div class="ps-product--hotdeal">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-detail.html"></a><img src="images/offer/clothes-2.jpg" alt=""></div>
                                <div class="ps-product__content">
                                    <a class="ps-product__title" href="product-detail.html">Mens Long-sleeved Polos</a>
                                    <p class="ps-product__price">Only: <span>£79</span></p>
                                    <div class="ps-product__status">
                                        <div class="sold">Already sold: <span>10</span></div>
                                        <div class="avaiable">avaiable: <span>30</span></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                    <ul class="ps-countdown" data-time="May 1, 2018 00:00:00">
                                        <li><span class="hours"></span><p>Hours</p></li>
                                        <li class="divider">:</li>
                                        <li><span class="minutes"></span><p>minutes</p></li>
                                        <li class="divider">:</li>
                                        <li><span class="seconds"></span><p>Seconds</p></li>
                                    </ul><a class="ps-btn" href="cart.html">Order Today<i class="ps-icon-next"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-features pt-80 pb-80">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="ps-iconbox">
                            <div class="ps-iconbox__header">
                                <i class="ps-icon-delivery"></i>
                                <h3>Miễn phí vận chuyển</h3>
                                <p>cho đơn hàng trên 4 triệu</p>
                            </div>
                            <div class="ps-iconbox__content">
                                <p>Bạn muốn theo dõi một kiện hàng ? Tìm thông tin theo dõi và chi tiết đặt hàng từ Đơn đặt hàng của bạn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="ps-iconbox">
                            <div class="ps-iconbox__header">
                                <i class="ps-icon-money"></i>
                                <h3>100% hoàn tiền</h3>
                                <p>TRONG VÒNG 30 NGÀY SAU KHI GIAO HÀNG.</p>
                            </div>
                            <div class="ps-iconbox__content">
                                <p>bạn có thể trả lại hầu hết các mặt hàng mới, chưa mở được bán trong vòng 30 ngày kể từ ngày giao hàng để được hoàn trả đầy đủ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="ps-iconbox">
                            <div class="ps-iconbox__header">
                                <i class="ps-icon-customer-service"></i>
                                <h3>hỗ trợ 24/7.</h3>
                                <p>CHÚNG TÔI CÓ THỂ GIÚP BẠN ONLINE</p>
                            </div>
                            <div class="ps-iconbox__content">
                                <p>Chúng tôi cung cấp một đường dây nóng khách hàng 24/7 để bạn không bao giờ đơn độc nếu bạn có thắc mắc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("Index", "TinTuc")
        <div class="ps-home-partner">
            <div class="ps-container">
                <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="40" data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="4" data-owl-item-md="5" data-owl-item-lg="6" data-owl-duration="1000" data-owl-mousedrag="on">
                    <a href="#"><img src="images/partner/1.png" alt=""></a><a href="#"><img src="images/partner/2.png" alt=""></a><a href="#"><img src="images/partner/3.png" alt=""></a><a href="#"><img src="images/partner/4.png" alt=""></a><a href="#"><img src="images/partner/5.png" alt=""></a><a href="#"><img src="images/partner/6.png" alt=""></a><a href="#"><img src="images/partner/7.png" alt=""></a><a href="#"><img src="images/partner/8.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="ps-subscribe">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                        <h3><i class="fa fa-envelope"></i>Đăng ký nhận bản tin</h3>
                    </div>
                    <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
                        <form class="ps-subscribe__form" action="do_action" method="post">
                            <input class="form-control" type="text" placeholder="">
                            <button type="button" onclick="location.href='@Url.Action("DangKy", "NguoiDung")'">Đăng ký ngay</button>
                        </form>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                        <p>.. và nhận phiếu giảm giá <span>$20</span> cho lần mua sắm đầu tiên</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-footer bg--cover" data-background="images/background/parallax.jpg">
            <div class="ps-footer__content">
                <div class="ps-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--info">
                                <header>
                                    <a class="ps-logo" href="index.html"><img src="images/logo-white.png" alt=""></a>
                                    <h3 class="ps-widget__title">chi nhánh 1</h3>
                                </header>
                                <footer>
                                    <p><strong>460 West 34th Street, 15th floor, New York</strong></p>
                                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                                    <p>Phone: +323 32434 5334</p>
                                    <p>Fax: ++323 32434 5333</p>
                                </footer>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--info second">
                                <header>
                                    <h3 class="ps-widget__title">chi nhánh 2</h3>
                                </header>
                                <footer>
                                    <p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
                                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                                    <p>Phone: +323 32434 5334</p>
                                    <p>Fax: ++323 32434 5333</p>
                                </footer>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--link">
                                <header>
                                    <h3 class="ps-widget__title">Tìm cửa hàng của chúng tôi</h3>
                                </header>
                                <footer>
                                    <ul class="ps-list--link">
                                        <li><a href="#">mã giảm giá</a></li>
                                        <li><a href="#">Đăng ký email</a></li>
                                        <li><a href="#">Phản hồi trang web</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </footer>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--link">
                                <header>
                                    <h3 class="ps-widget__title">trợ giúp</h3>
                                </header>
                                <footer>
                                    <ul class="ps-list--line">
                                        <li><a href="#">Tình trạng đặt hàng</a></li>
                                        <li><a href="#">Vận chuyển và giao hàng</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Lựa chọn thanh toán</a></li>
                                        <li><a href="#">Liên hệ chúng tôi</a></li>
                                    </ul>
                                </footer>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--link">
                                <header>
                                    <h3 class="ps-widget__title">Products</h3>
                                </header>
                                <footer>
                                    <ul class="ps-list--line">
                                        <li><a href="#">Giày</a></li>
                                        <li><a href="#">Quần áo</a></li>
                                        <li><a href="#">Phụ kiện</a></li>
                                    </ul>
                                </footer>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-footer__copyright">
                <div class="ps-container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <p>&copy; <a href="#">SKYTHEMES</a>, Inc. All rights Resevered. Design by <a href="#"> Alena Studio</a></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <ul class="ps-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JS Library-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.barrating.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/gmap3.min.js"></script>
    <script src="~/Scripts/imagesloaded.pkgd.js"></script>
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/jquery.matchHeight-min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/jquery.elevatezoom.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
    <script src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/revolution.extension.actions.min.js"></script>
    <script src="~/Scripts/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Scripts/revolution.extension.navigation.min.js"></script>
    <script src="~/Scripts/revolution.extension.parallax.min.js"></script>
    <script src="~/Scripts/revolution.extension.slideanims.min.js"></script>
    <script src="~/Scripts/revolution.extension.video.min.js"></script>
    <script src="~/Scripts/revolution.extension.kenburn.min.js"></script>
    <script src="~/Scripts/revolution.extension.migration.min.js"></script>
    <!-- Custom scripts-->
    <script src="~/Scripts/main.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
</body>
</html>